{% extends 'base.html' %} {% block title %} Login {% endblock title %}

{% block body %}

<style>
    .movie_container {
        height: auto;
        overflow: auto;
        width: 100%;
        display: flex;
    }

    .big-div {
        width: 20%;
        height: 200px;
        position: relative;
        float: left;
        border: 2px solid red;
        margin: 12px;
        padding: 16px;
    }

    .child-div {
        width: 30%;
        height: 50px;
        position: absolute;
        bottom: 0;
        right: 0;

    }

    .icon-favorite {

        cursor: pointer;
        text-decoration: none;
    }
    .heading {
        padding: 20px;
    }

    .heading h1 {
        padding: 20px;

    }
</style>

{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}
{% if message['success'] %}
<div class="alert alert-success" role="alert">

    <span class="d-block">{{ message['message'] }}</span>

</div>
{% endif %}
{% if not message['success'] %}
<div class="alert alert-danger" role="alert">

    <span class="d-block">{{ message['message'] }}</span>

</div>
{% endif %}
{% endfor %}
{% endif %} {% endwith %}
<div class="heading">

    <h1 class="card">Movies</h1>
    <div>
        <div class="movie_container">




            <div class="row">
                {% for movie in data %}
                <div class="col-sm- col-md-3 mb-20">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="center-block text-center mt-20">
                                <img src="{{url_for('static',filename='images/poster.jpg')}}" alt="image" class="w-50">
                            </div>
                            <div>

                                <h5 class="card-title">{{ movie['title'] }}</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <div class="w-100 flex !d-flex text-right">
                                    <a href="{{url_for('movies.add',movie_id=movie['id'])}}"
                                        class="btn btn-primary">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>


        </div>

    </div>


</div>

{% endblock body %}